# dependencies
node_modules/
.pnp
.pnp.*
.yarn/

# testing
/coverage

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.log
.eslintcache

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# prisma
!winelab_api/prisma/migrations/
!winelab_api/prisma/migrations/**

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
