{
    admin off
}

winelab.run.place {
    encode zstd gzip

    reverse_proxy /api/* 127.0.0.1:3101
    reverse_proxy /socket.io* 127.0.0.1:3101
    reverse_proxy /docs* 127.0.0.1:3101
    reverse_proxy 127.0.0.1:3100
}
